@page
@model RazorPagesDemo.Pages.Food.List

@{
    ViewData["Title"] = "Food List";
}

<h1>Food List</h1>

<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var food in Model.Food)
    {
        <tr>
            <td>@food.Title</td>
            <td>@food.Description</td>
            <td>@($"{food.Price:C}")</td>
        </tr>
    }
    </tbody>
</table>
